/* Global Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Reused CSS */

main {
  max-width: 1320px;
  margin: 0 auto;
}

.section_subtitle {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.section_title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}

.section_description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* Header Section */

header {
  max-width: 1320px;
  margin: 50px auto 0 auto;
  text-align: center;
  min-height: 600px;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('images/Banner-Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_subtitle,
.header_main-title {
  color: #fff;
  font-family: Merriweather, sans-serif;
}

.header_subtitle {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.header_main-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}

/* 65% OFF Section */

.off {
  margin: 120px 0;
  text-align: center;
}

.off_65 {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.off_subtitle {
  font-size: 24px;
  font-weight: 500;
  color: #f00;
}

.off_title {
  font-size: 48px;
  color: #070211;
  font-weight: 700;
  margin: 16px 0 48px 0;
}
.off_img {
  max-width: 800px;
}

/* Welcome Section */

.welcome {
  width: 100%;
  height: 600px;
  padding: 70px 126px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('images/Vectorrr.png');
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.welcome_title {
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.welcome_description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.welcome_btn {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-top: 48px;
  display: inline-block;
}

/* Event Section */

.event {
  background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
  text-align: center;
  padding: 110px 0;
  border-radius: 16px;
  color: #070211;
}

.event_details {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.event_details span {
  color: #f00;
}

.event_btn {
  color: #fff;
  background-color: #f00;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 64px;
  display: inline-block;
}

/* Coming Section */

.coming {
  display: flex;
  align-items: center;
  gap: 70px;
  align-items: center;
}

.coming_left,
.coming_right {
  flex-basis: 33%;
}

.coming_2024 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.coming_newyear_img {
  max-width: 140px;
  margin-top: 45px;
}

.coming_img {
  max-width: 400px;
  padding: 25px;
  border: 15px solid #f00;
  border-radius: 50%;
}

/* Portfolio Section */
.portfolio {
  margin-top: 120px;
}
.portfolio_imgbox {
  margin-top: 48px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio .section_description {
  max-width: 700px;
}

.portfolio_img {
  width: 424px;
  height: 450px;
  border-radius: 15px;
  background-size: cover;
  transition: all 0.3s;
  border: inset 3px solid transparent;
}

.portfolio_img:hover {
  transform: scale(0.8);
  cursor: pointer;
  border: 3px solid #333;
}

/* Portfolio Images */

.portfolio_img:first-child {
  background-image: url(images/1.png);
}
.portfolio_img:nth-child(2) {
  background-image: url(images/2.png);
}
.portfolio_img:nth-child(3) {
  background-image: url(images/3.png);
}
.portfolio_img:nth-child(4) {
  background-image: url(images/4.png);
}
.portfolio_img:nth-child(5) {
  background-image: url(images/5.png);
}
.portfolio_img:nth-child(6) {
  background-image: url(images/6.png);
}

/* Newsletter Section */

.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 80px 0;
  margin: 120px 0;
}

.newsletter_img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 40px;
}

.newsletter_form {
  margin: 0 auto;
  margin-top: 48px;
  width: 650px;
}

.newsletter .section_description {
  max-width: 850px;
  margin: 0 auto;
}

.newsletter_form input {
  padding: 25px 30px;
  outline: none;
  border: 0;
  box-sizing: border-box;
}

.newsletter_form input[type='email'] {
  color: rgba(7, 2, 17, 0.3);
  font-size: 18px;
  font-weight: 400;
  border-radius: 50px 0 0px 50px;
  width: 70%;
}

.newsletter_form input[type='submit'] {
  outline: none;
  border: none;
  border-radius: 0 50px 50px 0;
  color: #fff;
  background-color: #f00;
  width: 28%;
  font-size: 19px;
  font-weight: 600;
  margin-left: -20px;
}

.newsletter_form input[type='submit']:hover {
  cursor: pointer;
}

/* Footer Section */

footer {
  background-color: #070211;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.footer_wrap {
  max-width: 1320px;
  margin: 0 auto;
  padding: 120px 0;
}
.footer_top {
  display: flex;
}

.footer_right,
.footer_left {
  flex-basis: 50%;
}

.footer_right {
  text-align: center;
}

.footer_right a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.footer_social {
  text-align: center;
}

.footer_social img {
  max-width: 64px;
  margin-right: 24px;
}

footer hr {
  height: 1px;
  color: rgba(255, 255, 255, 0.15);
  margin: 50px 0;
}

.footer_bottom,
.footer_bottom a {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

/* Sales Section */

.sale {
  margin-top: 120px;
  text-align: center;
}
.sale_subtitle {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
}

.sale_title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 16px 0 28px 0;
}

.sale_title span {
  color: #f00;
}

.sale .section_description {
  width: 1000px;
  margin: 0 auto;
}

.sale_imgbox {
  margin-top: 65px;
  height: 660px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.sale_imgbox::after {
  content: '';
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f00;
  border-radius: 16px 0px 16px 16px;
  z-index: -1;
}
.sale_imgbox_1,
.sale_imgbox_2 {
  text-align: center;
}
.sale_imgbox_2 {
  align-self: flex-start;
  margin-top: 27px;
  position: relative;
}

.sale_imgbox_2::before {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 50%;
  background-image: url(images/50.png);
  background-size: cover;
  transform: translate(-50%, -50%);
}
.sale_imgbox_1 img {
  max-width: 720px;
}
