/* Global Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Section */

header {
  max-width: 1320px;
  margin: 0 auto;
  text-align: center;
  min-height: 600px;
  border-radius: 16px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url('images/Banner-Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .header_textbox {
  display: flex;
  align-items: center;
} */

.header_subtitle,
.header_main-title {
  color: #fff;
  font-family: Merriweather;
}

.header_subtitle {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}
.header_main-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
